Repository piro0919/mac-classic-player: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, secretlint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "**/*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: "**/*"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    secretlint:
      glob: "**/*"
      run: npx secretlint --maskSecrets {staged_files}
    stylelint:
      glob: "**/*.css"
      run: npx stylelint --fix {staged_files}
      stage_fixed: true
    typescript:
      run: npx tsc --noEmit
    vitest:
      run: npx vitest run --changed
commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

fix: update version number from 1.0.0 to 0.0.1 in package.json
  package.json
Due: none

feat: update package.json and add new assets
  assets/icon.icns
  package.json
  renderer/assets/video-placeholder.png
  renderer/styles/VideoPlayer.module.css
Due: prettier, secretlint, stylelint

feat: add new script to package.json
  package.json
Due: none

feat: update video-player component and add new script for plist patching
  .gitignore
  package.json
  renderer/components/VideoPlayer.tsx
  renderer/styles/VideoPlayer.module.css
  renderer/styles/global.css
  scripts/patch-plist.sh
Due: eslint, prettier, secretlint, stylelint

feat: update package.json to include codesigning in postbuild script
  package.json
Due: none

feat: add file opening functionality and update styles
  main/main.ts
  renderer/components/VideoPlayer.tsx
  renderer/styles/global.css
Due: eslint, prettier, secretlint, stylelint

feat: update package.json and add new assets for icon generation
  assets/icon.icns
  assets/icon.png
  package.json
  scripts/generate-icon.sh
Due: prettier, secretlint

feat: update package.json to exclude mac-arm64 directory
  package.json
Due: none

feat: update package.json and add script to strip Electron bloat
  package.json
  scripts/strip-electron-bloat.sh
Due: prettier, secretlint

feat: update to version 0.0.7 and add dependencies
  .gitignore
  assets/icon.icns
  assets/icon.png
  eslint.config.mjs
  lefthook.yml
  main/main.ts
  package-lock.json
  package.json
  renderer/assets/video-placeholder.png
  renderer/components/VideoPlayer.tsx
  renderer/index.html
  renderer/styles/VideoPlayer.module.css
  renderer/vite-env.d.ts
Due: eslint, prettier, secretlint, stylelint

feat: update README and add new features
  README.md
  assets/screenshot.png
  main/main.ts
  renderer/components/VideoPlayer.tsx
  renderer/styles/VideoPlayer.module.css
Due: eslint, prettier, secretlint, stylelint

feat: bump version to 0.0.8
  package.json
Due: none

feat: rename app to "mac classic player" and update related text
  assets/screenshot.png
  main/main.ts
  package.json
  renderer/index.html
Due: eslint, prettier, secretlint

feat: add keyboard shortcuts to video player and localize menu labels to japanese
  main/main.ts
  renderer/components/VideoPlayer.tsx
  renderer/hooks/useKeyboardShortcuts.ts
  renderer/styles/VideoPlayer.module.css
Due: eslint, prettier, secretlint, stylelint

feat: bump version to 0.0.10
  package.json
Due: none

feat: add main-window management and replace placeholder with icon in video-player
  eslint.config.mjs
  main/main.ts
  renderer/components/VideoPlayer.tsx
  renderer/styles/VideoPlayer.module.css
Due: eslint, prettier, secretlint, stylelint

feat: bump version to 0.0.11
  package.json
Due: none

feat: bump version to 0.0.12 and add dependencies
  eslint.config.mjs
  lefthook.yml
  main/main.ts
  package-lock.json
  package.json
  renderer/components/VideoPlayer.tsx
  renderer/hooks/useKeyboardShortcuts.ts
  renderer/styles/VideoPlayer.module.css
Due: eslint, prettier, secretlint, stylelint

style: remove focus outline from video-player container
  renderer/styles/VideoPlayer.module.css
Due: prettier, secretlint, stylelint

feat: refactor and add new features
  renderer/components/VideoPlayer.tsx
  renderer/hooks/useKeyboardShortcuts.ts
  renderer/store/videoQueueReducer.ts
  renderer/utils/fileUtils.ts
Due: eslint, prettier, secretlint

feat: add keyboard shortcuts help to readme and video-player
  README.md
  package.json
  renderer/components/VideoPlayer.tsx
  renderer/styles/VideoPlayer.module.css
Due: eslint, prettier, secretlint, stylelint

chore: bump to v0.0.13 and add landing page project
  .vscode/settings.json
  README.md
  assets/screenshot-audio.png
  assets/screenshot-empty.png
  assets/screenshot-main.png
  assets/screenshot-shortcuts.png
  assets/screenshot.png
  lefthook.yml
  lp/.gitignore
  lp/README.md
  lp/eslint.config.mjs
  lp/next.config.ts
  lp/package-lock.json
  lp/package.json
  lp/public/icon.png
  lp/public/noise.png
  lp/public/screenshot-audio.png
  lp/public/screenshot-empty.png
  lp/public/screenshot-main.png
  lp/public/screenshot-shortcuts.png
  lp/src/app/favicon.ico
  lp/src/app/globals.css
  lp/src/app/layout.tsx
  lp/src/app/opengraph-image.png
  lp/src/app/page.module.css
  lp/src/app/page.tsx
  lp/tsconfig.json
  main/main.ts
  package-lock.json
  package.json
  renderer/index.html
Due: eslint, prettier, secretlint, stylelint

fix: add type definition to enhance metadata
  lp/src/app/layout.tsx
Due: eslint, prettier, secretlint

docs: update readme layout and favicon
  README.md
  lp/src/app/favicon.ico
Due: prettier, secretlint

fix: update screenshot source in home component
  lp/src/app/page.tsx
Due: eslint, prettier, secretlint

feat: bump to v0.0.14 and add japanese menu support
  main/main.ts
  package.json
  renderer/components/VideoPlayer.tsx
Due: eslint, prettier, secretlint

feat: add artwork fetching to video-player and update dependencies
  package-lock.json
  package.json
  renderer/components/VideoPlayer.tsx
  renderer/store/videoQueueReducer.ts
  renderer/styles/VideoPlayer.module.css
Due: eslint, prettier, secretlint, stylelint

feat: add track info overlay to video-player
  renderer/components/VideoPlayer.tsx
  renderer/store/videoQueueReducer.ts
  renderer/styles/VideoPlayer.module.css
Due: eslint, prettier, secretlint, stylelint

feat: enhance video player with audio support and track info overlay
  README.md
  assets/screenshot-audio.png
  assets/screenshot-empty.png
  assets/screenshot-info.png
  assets/screenshot-main.png
  assets/screenshot-shortcuts.png
  lp/public/screenshot-audio.png
  lp/public/screenshot-empty.png
  lp/public/screenshot-info.png
  lp/public/screenshot-main.png
  lp/public/screenshot-shortcuts.png
  lp/src/app/page.module.css
  lp/src/app/page.tsx
  main/main.ts
  renderer/components/AudioPlayer.tsx
  renderer/components/HelpOverlay.tsx
  renderer/components/MediaControls.tsx
  renderer/components/TrackInfoOverlay.tsx
  renderer/components/VideoPlayer.tsx
  renderer/hooks/useElectronEvents.ts
  renderer/hooks/useKeyboardShortcuts.ts
  renderer/hooks/useMediaArtwork.ts
  renderer/hooks/useMediaFiles.ts
  renderer/store/actionTypes.ts
  renderer/store/videoQueueReducer.ts
  renderer/types/videoTypes.ts
Due: eslint, prettier, secretlint, stylelint

feat: improve image rendering quality by setting quality prop
  lp/src/app/page.tsx
Due: eslint, prettier, secretlint

feat: bump version to 0.0.15 and refactor file handling
  main/main.ts
  package.json
  renderer/hooks/useElectronEvents.ts
Due: eslint, prettier, secretlint

feat: bump version to 0.0.16 and refactor main process
  main/main.ts
  package.json
  renderer/hooks/useElectronEvents.ts
Due: eslint, prettier, secretlint

feat: bump version to 0.0.17 and improve file handling
  main/main.ts
  package.json
Due: eslint, prettier, secretlint

feat: add funding configuration for buy_me_a_coffee
  .github/FUNDING.yml
Due: prettier, secretlint

fix: update author and urls in package.json and layout.tsx
  lp/src/app/layout.tsx
  lp/src/app/page.tsx
  package.json
Due: eslint, prettier, secretlint

feat: add updater artifacts to release:upload script
  package.json
Due: none

chore: bump version to 0.1.0
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: prettier, secretlint

chore: update updater signing public key
  src-tauri/tauri.conf.json
Due: prettier, secretlint

chore: update cargo.lock and ignore latest.json
  .gitignore
  src-tauri/Cargo.lock
Due: prettier, secretlint
