Repository piro0919/mac-classic-player: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, secretlint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "**/*.{ts,tsx}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: "**/*"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    secretlint:
      glob: "**/*"
      run: npx secretlint --maskSecrets {staged_files}
    stylelint:
      glob: "**/*.css"
      run: npx stylelint --fix {staged_files}
      stage_fixed: true
    typescript:
      run: npx tsc --noEmit
    vitest:
      run: npx vitest run --changed
commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

fix(lp): take the palette from the app icon again
  lp/src/app/[locale]/globals.css
  lp/src/app/[locale]/page.tsx
Due: eslint, prettier, secretlint, stylelint

fix(og): render the image at build time so the icon file is found
  lp/src/app/[locale]/opengraph-image.tsx
Due: eslint, prettier, secretlint

fix(og): draw the card in the same display face as the site
  lp/assets/IBMPlexSansJP-Bold-subset.ttf
  lp/assets/README.md
  lp/src/app/[locale]/opengraph-image.tsx
Due: eslint, prettier, secretlint

docs: note why the old static ogp image stays
  CLAUDE.md
Due: none

fix(lp): lead with what the app is, and show it playing
  lp/assets/IBMPlexSansJP-Bold-subset.ttf
  lp/messages/en.json
  lp/messages/ja.json
  lp/src/app/[locale]/opengraph-image.tsx
  lp/src/app/[locale]/page.tsx
Due: eslint, prettier, secretlint

fix(og): lay the icon and the name out side by side
  lp/src/app/[locale]/opengraph-image.tsx
Due: eslint, prettier, secretlint

fix(og): lighten the type and balance the lockup
  lp/src/app/[locale]/opengraph-image.tsx
Due: eslint, prettier, secretlint

fix(seo): declare the locale on the card, and add x-default
  lp/src/app/[locale]/layout.tsx
  lp/src/app/[locale]/privacy/page.tsx
  lp/src/app/sitemap.ts
  lp/src/i18n/urls.ts
Due: eslint, prettier, secretlint

fix(build): use rolldown's oxc minifier under vite 8
  vite.config.ts
Due: none

chore(release): v0.4.0
  package.json
  src-tauri/tauri.conf.json
Due: prettier, secretlint

chore(release): sync the lockfile to v0.4.0
  package-lock.json
Due: none

fix(stream): reject unsatisfiable ranges instead of underflowing
  src-tauri/src/lib.rs
Due: prettier, secretlint

ci: run the type check, the frontend build and the rust tests
  .github/workflows/ci.yml
  tsconfig.json
Due: prettier, secretlint

fix(deps): rebuild the lock for typescript 7
  package-lock.json
Due: none

docs: add the development steps
  README.md
Due: none

fix(lp): name media player classic in the english title and description
  lp/messages/en.json
Due: prettier, secretlint

chore: align the rust crate version with package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: prettier, secretlint

fix(capabilities): drop the home and volumes read scopes
  CLAUDE.md
  src-tauri/capabilities/default.json
  src-tauri/gen/schemas/capabilities.json
  src-tauri/tauri.conf.json
Due: prettier, secretlint

fix(stream): require a token and serve only files the user opened
  CLAUDE.md
  renderer/hooks/useTauriEvents.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
Due: eslint, prettier, secretlint

docs: read the updater key password from the keychain
  CLAUDE.md
Due: none

ci: fix the eslint config for perfectionist 5 and run lint
  .github/workflows/ci.yml
  eslint.config.mjs
  renderer/components/MediaControls.tsx
  renderer/components/VideoPlayer.tsx
  renderer/hooks/useMediaArtwork.ts
  renderer/hooks/useMediaFiles.ts
  renderer/hooks/useTauriEvents.ts
  renderer/index.tsx
  renderer/utils/mediaFile.ts
  renderer/vite-env.d.ts
Due: eslint, prettier, secretlint

feat(lp): link buy me a coffee in the footer
  lp/src/app/[locale]/page.tsx
Due: eslint, prettier, secretlint

chore: add shared lint rules for unnamed numbers and tailwind values
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

chore: add shared lint rules for unnamed numbers and tailwind values (#299)
  eslint.config.mjs
  package-lock.json
  package.json
Due: none
