Repository piro0919/mac-classic-player: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, secretlint, stylelint

eslint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

secretlint:
  run: npx secretlint --maskSecrets {staged_files}

stylelint:
  run: npx stylelint --fix {staged_files}
  stage_fixed: true

feat: support large file streaming and loading indicator
  package.json
  renderer/components/VideoPlayer.tsx
  renderer/hooks/useTauriEvents.ts
  renderer/index.tsx
  renderer/styles/VideoPlayer.module.css
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/gen/schemas/capabilities.json
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
Due: eslint, prettier, secretlint, stylelint

chore: update cargo.lock for v0.1.1
  src-tauri/Cargo.lock
Due: prettier, secretlint

feat: add update confirmation dialog and restart prompt
  src-tauri/src/lib.rs
Due: prettier, secretlint

chore: bump version to 0.1.2
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: prettier, secretlint

fix: use correct dialog buttons api for update confirmation
  src-tauri/Cargo.lock
  src-tauri/src/lib.rs
Due: prettier, secretlint

fix: handle window size with logical pixels for retina support
  renderer/index.tsx
  src-tauri/src/lib.rs
Due: eslint, prettier, secretlint

chore: bump version to 0.1.3
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: prettier, secretlint

chore: update cargo.lock for v0.1.3
  src-tauri/Cargo.lock
Due: prettier, secretlint

fix: correct updater download url and add error dialog
  package.json
  src-tauri/src/lib.rs
Due: prettier, secretlint

feat: add recent files menu with persistent history
  renderer/hooks/useTauriEvents.ts
  src-tauri/src/lib.rs
Due: eslint, prettier, secretlint

chore: bump version to 0.2.0
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: prettier, secretlint

fix: split updater download and install for better error reporting
  src-tauri/src/lib.rs
Due: prettier, secretlint

chore: bump version to 0.2.1
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: prettier, secretlint

feat: revamp menu bar to follow macos conventions
  CLAUDE.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
Due: prettier, secretlint

chore: use shared renovate preset
  renovate.json
Due: none

chore: add MIT license
  LICENSE
Due: none

docs: add architecture analysis report
  docs/architecture-analysis.md
Due: prettier, secretlint

fix: grant fs scope dynamically for opened paths
  src-tauri/src/lib.rs
Due: prettier, secretlint

chore: bump version to 0.3.1
  package.json
  src-tauri/tauri.conf.json
Due: prettier, secretlint

chore: bump cargo manifest to 0.3.1
  src-tauri/Cargo.toml
Due: prettier, secretlint

chore: sync lockfile and generated schemas
  src-tauri/Cargo.lock
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/macOS-schema.json
Due: prettier, secretlint

refactor: extract shared media file helpers
  renderer/hooks/useMediaFiles.ts
  renderer/hooks/useTauriEvents.ts
  renderer/utils/fileUtils.ts
  renderer/utils/mediaFile.ts
Due: eslint, prettier, secretlint

fix: handle unmount before tauri listen() resolves
  renderer/hooks/useTauriEvents.ts
Due: eslint, prettier, secretlint

chore: bump version to 0.3.2
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: prettier, secretlint

chore: sync lockfile after 0.3.2 build
  src-tauri/Cargo.lock
Due: prettier, secretlint

feat(lp): add vercel analytics
  lp/package-lock.json
  lp/package.json
  lp/src/app/layout.tsx
Due: eslint, prettier, secretlint

feat(lp): add a metadata base and canonical url
  lp/src/app/layout.tsx
Due: eslint, prettier, secretlint

chore: add funding links
  .github/FUNDING.yml
Due: prettier, secretlint

chore: match the declared license to the license file
  package.json
Due: none

feat(lp): add sitemap and robots routes
  lp/src/app/robots.ts
  lp/src/app/sitemap.ts
Due: eslint, prettier, secretlint

feat(lp): add a privacy policy page
  lp/src/app/page.tsx
  lp/src/app/privacy/page.module.css
  lp/src/app/privacy/page.tsx
  lp/src/app/sitemap.ts
Due: eslint, prettier, secretlint, stylelint

feat(lp): rebuild the landing page on the shared template
  lp/AGENTS.md
  lp/CLAUDE.md
  lp/messages/en.json
  lp/messages/ja.json
  lp/next.config.ts
  lp/package-lock.json
  lp/package.json
  lp/postcss.config.mjs
  lp/public/ogp.png
  lp/src/app/[locale]/globals.css
  lp/src/app/[locale]/language-switch.tsx
  lp/src/app/[locale]/layout.tsx
  lp/src/app/[locale]/page.tsx
  lp/src/app/[locale]/privacy/page.tsx
  lp/src/app/globals.css
  lp/src/app/layout.tsx
  lp/src/app/page.module.css
  lp/src/app/page.tsx
  lp/src/app/privacy/page.module.css
  lp/src/app/privacy/page.tsx
  lp/src/app/sitemap.ts
  lp/src/i18n/navigation.ts
  lp/src/i18n/request.ts
  lp/src/i18n/routing.ts
  lp/src/proxy.ts
  lp/tsconfig.json
Due: eslint, prettier, secretlint, stylelint

[ImgBot] Optimize images
  assets/screenshot-audio.png
  assets/screenshot-empty.png
  assets/screenshot-info.png
  assets/screenshot-main.png
  assets/screenshot-shortcuts.png
  lp/public/noise.png
  lp/public/ogp.png
  lp/public/screenshot-audio.png
  lp/public/screenshot-empty.png
  lp/public/screenshot-info.png
  lp/public/screenshot-main.png
  lp/public/screenshot-shortcuts.png
  src-tauri/icons/android/mipmap-xxhdpi/ic_launcher.png
  src-tauri/icons/android/mipmap-xxxhdpi/ic_launcher.png
  src-tauri/icons/ios/AppIcon-512@2x.png
Due: prettier, secretlint

fix(lp): wrap headlines at phrase boundaries
  lp/src/app/[locale]/globals.css
Due: prettier, secretlint, stylelint

feat(lp): rebuild the page as a keyboard deck
  lp/src/app/[locale]/globals.css
  lp/src/app/[locale]/language-switch.tsx
  lp/src/app/[locale]/layout.tsx
  lp/src/app/[locale]/opengraph-image.tsx
  lp/src/app/[locale]/page.tsx
Due: eslint, prettier, secretlint, stylelint

feat(lp): set a display face for the headlines
  lp/src/app/[locale]/globals.css
  lp/src/app/[locale]/layout.tsx
  lp/src/app/[locale]/page.tsx
Due: eslint, prettier, secretlint, stylelint

fix(lp): draw the favicon for 16px instead of shrinking the app icon
  lp/public/favicon-16x16.png
  lp/public/favicon-32x32.png
  lp/src/app/[locale]/layout.tsx
  lp/src/app/favicon.ico
Due: eslint, prettier, secretlint

chore(lp): drop the static ogp image the dynamic route replaced
  lp/public/ogp.png
Due: prettier, secretlint

Revert "chore(lp): drop the static ogp image the dynamic route replaced"
  lp/public/ogp.png
Due: prettier, secretlint

fix(og): put the icon and the name first so it reads at thumbnail size
  lp/src/app/[locale]/opengraph-image.tsx
Due: eslint, prettier, secretlint

Path conditions:
  eslint: any of: **/*.{ts,tsx}
  prettier: any of: **/*
  secretlint: any of: **/*
  stylelint: any of: **/*.css
